USE [master]
GO
/****** Object:  Database [Zoologico]    Script Date: 12/4/2019 10:34:31 p. m. ******/
CREATE DATABASE [Zoologico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zoologico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Zoologico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Zoologico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Zoologico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zoologico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zoologico]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 12/4/2019 10:34:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[id] [int] NOT NULL,
	[Sexo] [varchar](50) NULL,
	[Ano_nacimiento] [date] NULL,
	[Pais_origen] [varchar](50) NULL,
	[Continente] [varchar](50) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [numeric](18, 0) NOT NULL,
	[id_especie] [int] NULL,
 CONSTRAINT [PK_Animal] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especie]    Script Date: 12/4/2019 10:34:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especie](
	[Id] [int] NOT NULL,
	[NombreAnimal] [varchar](50) NULL,
	[NombreVulgar] [varchar](50) NULL,
	[Familia] [varchar](50) NULL,
	[NivelPeligro] [varchar](50) NULL,
 CONSTRAINT [PK_Especie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 12/4/2019 10:34:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id] [int] NULL,
	[Factura] [nchar](10) NOT NULL,
	[Fecha] [date] NOT NULL,
	[id_ticket] [int] NOT NULL,
	[Monto] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 12/4/2019 10:34:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[id] [int] NOT NULL,
	[Ticket] [nchar](10) NOT NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zoo]    Script Date: 12/4/2019 10:34:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zoo](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Tamano] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[Capacidad] [varchar](50) NULL,
 CONSTRAINT [PK_Zoo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Especie] FOREIGN KEY([id_especie])
REFERENCES [dbo].[Especie] ([Id])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Especie]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Ticket] FOREIGN KEY([id])
REFERENCES [dbo].[Ticket] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Ticket]
GO
USE [master]
GO
